.odd {
    background-color: rgb(241, 169, 181);
    font-family: Verdana, "DejaVu Sans", sans-serif;
}
.customzied-font-size {
    font-size: 24px;
}
#even-num1 {
    color: rgb(3, 3, 156);    
    font-size: 36px;
}
#even-num2 {
    background-color: rgb(53, 235, 53); 
    font-weight: bold;
}   