body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-start;
}

ul a {
  text-decoration: none;
  font-size: 24px;
  color: #eee;
}

.header {
  height: 72px;
  background: darkmagenta;
  color: white;
  display: flex;
  align-items: center;
  font-size: 32px;
  font-weight: 900;
  padding-left: 12px;
}

.footer {
  height: 72px;
  background: #eee;
  color: darkmagenta;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 12px;
}

.sidebar-container {
  width: 300px;
  background: royalblue;
  box-sizing: border-box;
  flex-shrink: 0;
  padding: 16px;
}

.card-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 48px;
  gap: 48px;
}

.card {
  border: 1px solid #eee;
  box-shadow: 2px 4px 16px rgba(0,0,0,.06);
  border-radius: 4px;
  max-width: 350px;
  padding: 15px;
  font-weight: bold;
}

.body {
  flex: 1;
  display: flex;
}

